<html>
  <head>
    <title>{% block title %}Title Holder{% endblock %}</title>
    {% block stylesheets %}
      <link href="{{ asset('bundles/pinanobootstrap3/css/bootstrap.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/pinanobootstrap3/css/bootstrap-theme.css') }}" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    <h1>{% block bodyTitle %}Title Holder{% endblock %}</h1>
    <hr>
    <ul>
      <li><a href="/">Generate Report 1</a></li>
    </ul>
  </body>
</html>
